*{
    box-sizing: border-box;
}

body {
    background: #F5F4EF;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000305;
    font-size: 14px;
    line-height: 1.5;

}
a {
    color: #c74350;
    transition: all .4s linear,background-color .4s linear;
    padding: 0 1px;

}

a:hover,
a:focus,
a:active {
    color: #fff;
    background-color: #c74350;
    text-decoration: none;
}

.container {
    max-width: 900px;
    width: 96%;
    margin: 0 auto;
}
section{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}
.title,
.subtitle,
header a {
    color: #000305;

}

header a {
    display: block;

}
.title,
.subtitle {
    color: #000305;

}
header a:hover,
header a:focus,
header a:active{
    background-color: rgba(red, green, blue, alpha);
    color: #c74350;
}
.title {
    font-size: 50px;

}
.subtitle {
    font-size: 18px;

}
header {
    padding: 30px 0 10px 0;
}
h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}
h2 {
    font-size: 24px;
    color: #c74350;

}
h3 {
    font-size: 20px;
    margin-top: 10px;

}
h4{
    font-size: 20px;
    color: #000305;

    }
h4 a {
    text-decoration: none;
}    
p {
    margin: 0;
}
/* .articles article:not(:last-of-type) {
    border-bottom: 1px solid red;
} */
/* .articles article:not(:first-of-type) {
    border-top: 1px solid red;
} */
.articles article +article {
    border-top: 1px solid #eeeeee;
}
nav {
display: inline-block;
padding: 0;
list-style: none;
}
nav a{
display: inline-block;
width: 100%;
padding: 5px;
text-decoration: none;
color: #000305;
}
nav a:hover
nav a:active
nav a:focus{
color: #F5F4EF;
}
nav li {
    border-bottom: 1px solid #f4e3e3;
}
footer section{
    display: flex;
}
footer section:first-child{
    width: 40%;
}
footer section h4 {
    margin: 0;
    line-height: 1;
}
.copyright {
    text-align: right;
}
.flex-row {
    display: flex;
    flex-direction: row-reverse;
     /* блоки на оборот флекс */

}
aside {
    flex: 1 0 auto;
    padding-right: 30px;
    position: absolute;
}